window {
  background-color: black;
  background-image: url ("/home/khairy/.config/gtklock/Wallpapers/2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}